<div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-5">
            <div class="card">
                <div class="card-body">
                    <form class="needs-validation" [formGroup]="register" (ngSubmit)="submit()" novalidate>
                        <div class="form-group">
                            <label for="email">
                                Имя
                            </label>
                            <input type="text" 
                                   class="form-control" 
                                   id="name" 
                                formControlName="firstName"  
                                [ngClass]="{'is-invalid': register.controls['firstName'].invalid && register.controls['firstName'].touched,
                                'is-valid': register.controls['firstName'].valid && register.controls['firstName'].touched
                            }"
                            />
                            <div class="invalid-feedback">
                                Некорректное имя</div>
                        </div>
                        <div class="form-group">
                            <label for="email">
                                Электронная почта
                            </label>
                            <input type="email" 
                                   class="form-control" 
                                   id="email" 
                                   formControlName="email"
                                   [ngClass]="{'is-invalid': register.controls['email'].invalid && register.controls['email'].touched,
                                   'is-valid': register.controls['email'].valid && register.controls['email'].touched
                               }"
                               />
                               <div class="invalid-feedback">
                                   Некорректная почта</div>
                        </div>
                        <div class="form-group">
                            <label for="password">
                                Пароль
                            </label>
                            <input type="password" 
                                   class="form-control" 
                                   id="password" 
                                formControlName="password" 
                                [ngClass]="{'is-invalid':register.controls['password'].invalid && register.controls['password'].touched,
                                'is-valid': register.controls['password'].valid && register.controls['password'].touched
                            }"
                            />
                            <div class="invalid-feedback">
                                Некорректный пароль</div>
                        </div>
                        <div class="form-group">
                            <label for="confirmPassword">
                                Повторите пароль
                            </label>
                            <input type="password" 
                                   class="form-control" 
                                   id="confirmPassword" 
                                   formControlName="confirmPassword"
                                   [ngClass]="{'is-invalid': register.controls['password'].value!==register.controls['confirmPassword'].value
                                    || register.controls['confirmPassword'].touched &&  register.controls['confirmPassword'].invalid,
                                   'is-valid': register.controls['confirmPassword'].valid && register.controls['confirmPassword'].touched
                               }"
                               />
                               
                        </div>
                        <button class="btn btn-primary mt-2" [disabled]="register.invalid">
                            Зарегистрировать
                        </button>
                    </form>
                    <p class="mt-3">
                        Уже есть аккаунт?
                        <a href="/login" routerLink="login">Войти</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>