<div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-5">
            <div class="card">
                <div class="card-body">
                    <form class="needs-validation" [formGroup]="login" (ngSubmit)="submit()" novalidate>
                        <div class="form-group">
                            <label for="email" class="form-label">
                                Электронная почта
                            </label>
                            
                            <input type="email" 
                                   class="form-control" 
                                   id="email" 
                                formControlName="email" 
                                [ngClass]="{'is-invalid': login.controls['email'].invalid && login.controls['email'].touched,
                                    'is-valid': login.controls['email'].valid && login.controls['email'].touched
                                }"
                                />
                                <div class="invalid-feedback">
                                    Некорректная почта</div>
                            </div>
                        <div class="form-group">
                            <label for="password"  class="form-label">
                                Пароль
                            </label>
                            <input type="password" 
                                   class="form-control" 
                                   id="password" 
                                formControlName="password"
                                [ngClass]="{'is-invalid': login.controls['password'].invalid && login.controls['password'].touched,
                                    'is-valid': login.controls['password'].valid && login.controls['password'].touched
                                }"
                                />
                                <div class="invalid-feedback">
                                    Некорректный пароль</div>
                        </div>
                        <button class="btn btn-primary mt-2" [disabled]="login.invalid">
                            Войти
                        </button>
                    </form>
                    <p class="mt-3">
                        Нет аккаунта?
                        <a href="/register" routerLink="register">Зарегистрировать</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>